<nav>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div routerLinkActive="active">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <a routerLink="/planningGlobal">
              <div class="pan pan-grey">
                <div class="pan-body"><span class="glyphicon glyphicon-tasks"></span></div>
                <div class="pan-footer">Planning global</div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-5 col-lg-offset-2">
            <a routerLink="/choixActivite">
              <div class="pan pan-grey">
                <div class="pan-body"><span class="glyphicon glyphicon-plus"></span></div>
                <div class="pan-footer">Choisir une activité</div>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
            <div class="row">
              <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                <a (click)="quit()">
                  <div class="pan pan-red">
                    <div class="pan-body"><span class="glyphicon glyphicon-remove-sign"></span></div>
                    <div class="pan-footer">Fermer</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
