<div class="row center">
  <div class="col-md-1 col-md-offset-1">
    <a routerLink="/">
      <h2 class="pan1 pan1-grey">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </h2>
    </a>
  </div>
  <div class="col-md-10 col-md-offset-0">
    <h2>
      Consultation du prix des clients
    </h2>
  </div>
</div>

<div class="row tableau center">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
      <thead class="row">
      <tr>
        <th class="col-md-4">Nom</th>
        <th class="col-md-4">Nombre d'activités</th>
        <th class="col-md-4">Prix à payer</th>
      </tr>
      </thead>
      <tbody class="row">
      <tr *ngFor="let prix of prixl">
        <td class="col-md-4">{{ prix.client }}</td>
        <td class="col-md-4">{{ prix.nbInscriptions }}</td>
        <td class="col-md-4">{{ prix.prix }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
